body {background-color: LightGrey;}

.jumbotron {background-color: LightGrey;}

.light {opacity: 0.2}

.blinking{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: #000; }
    99%{    color: #000;  }
    100%{   color: #000;    }
}